@model Tuple<EkipMobilya.Models.Koleksiyon, EkipMobilya.Areas.Admin.Models.KoleksiyonView>
@{
    ViewBag.Title = "Create";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Düzenleme Tablosu</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
                <a href="/panel/koleksiyontablo" class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">TÜM KOLEKSİYONLAR</a>
                <ol class="breadcrumb">
                    <li><a href="#">ANASAYFA</a></li>
                    <li><a href="#">KOLEKSİYON EKLE</a></li>
                    <li class="active">RESİM</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">FORM</h3>
                    <p class="text-muted m-b-30 font-13"> FORM ÖĞELERİ </p>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            @using (Html.BeginForm("Create", "Koleksiyon", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {                                  
                                <h3 class="box-title">@Html.DisplayNameFor(i=>i.Item1.KoleksiyonResim)</h3>
                                <label for="input-file-now-custom-1">@DateTime.Now</label>
                                <input type="file" name="Imagefile" class="form-control" required />
                                <br><br>
                                <h3 class="box-title"></h3>
                                <label for="input-file-now-custom-1">@DateTime.Now</label>
                                @Html.EditorFor(i =>i.Item1.KoleksiyonAdi, new { @class = "form-control" })
                                <br><br>                               
                                <select class="form-control" id="koleksiyonkategori" name="koleksiyonkategori">
                                    @foreach (var item2 in Model.Item2.koleksiyonBaslikModel)
                                    {                                    
                                    <option name="@item2.KoleksiyonBaslikId" value="@item2.KoleksiyonBaslikId"> @item2.KoleksiyonBaslikIsim </option>
                                    }
                                </select>
                                <br />
                               
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">EKLE</button>
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>
</div>
