@model EkipMobilya.Models.Renkler
@{
    ViewBag.Title = "Create";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Notifications</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
                <a href="javascript: void(0);" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a>
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Ui Elements</a></li>
                    <li class="active">Notifications</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Sample Basic Forms</h3>
                    <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            @using (Html.BeginForm("Create", "Renkler", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <h3 class="box-title">@Html.DisplayNameFor(model => model.RenkResim)</h3>
                                <label for="input-file-now-custom-1">@DateTime.Now</label>
                                <input type="file" name="Imagefile" class="form-control" required/>
                                <br><br>
                                <h3 class="box-title">@Html.DisplayNameFor(model => model.RenkAdi)</h3>
                                <label for="input-file-now-custom-1">@DateTime.Now</label>
                                <br>
                                @Html.EditorFor(model=>model.RenkAdi, new { @class="form-control"})
                                <br><br>
                                <input type="submit" value="Kaydet" class="btn btn-success waves-light m-r-10" />
                                @Html.ActionLink("Listeye Dön", "RenklerIndex", null, new { @class = "btn btn-primary waves-effect waves-light m-r-10" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>
</div>
